!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title お支払い方法 - メルカリ スマホでかんたん フリマアプリ
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .register
    .header
      %h1.haeder
        = link_to root_path do
          = image_tag 'fmarket_logo_red.svg', alt: 'mercari', class: 'header__h1__logo'
      %nav
        %ol
          %li
            会員情報
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li
            電話番号認証
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li
            お届け先住所入力
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li(style="color: red; font-weight: bold")
            支払い方法
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li
            完了
            %br/
            %i.fas.fa-circle
      .horizontal-line(style="color: red; right: 90px")
        ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
      .horizontal-line(style="right: 9px")
        ＿＿＿＿


    .main
      .main__text 支払い方法
      .main__form
        = form_for @card, url: "/signup",method: :post do |f|
          .main__form__group
            %label.main__form__group__label(for="card_number") カード番号
            %span.main__form__group__require 必須   
            -# = label :number, 'カード番号', class: 'signup-label'
            = f.text_field :number, placeholder: '半角数字のみ',class: 'main__form__group__input-box'
            = image_tag 'creditcard_logos.png', class: 'main__form__group__logos'
            %br
          .main__form__group
            %label.main__form__group__label 有効期限
            %span.main__form__group__require 必須
            .main__form__group__card
              .main__form__group__card__select-box
                .main__form__group__card__select-box--month
                  = f.collection_select :expiration_month, Month.all, :id, :name, {prompt: "---"}, { required: 'required' }
                  %span.main__form__group__card__text 月
              .main__form__group__card__select-box
                .main__form__group__card__select-box--year         
                  = f.collection_select :expiration_year, Year.all, :id, :name, {prompt: "---"}, { required: 'required' }
                  %span.main__form__group__card__text 年
          .main__form__group
            %label.main__form__group__label セキュリティコード
            %span.main__form__group__require 必須
            = f.text_field :security_code, placeholder: 'カード背面4桁もしくは3桁の番号', class: "main__form__group__input-box"
            %p.main__form__group__card-info
              = link_to '/', class: 'link', target: '_blank' do
                %i.fas.fa-question-circle
              = 'カード裏面の番号とは？'     
          = f.submit '次へ進む', class: 'main__form__submit-btn', id: 'card-submit-button'
          .test-btn
            テストボタン


    .footer
      %nav
        %ul.clearfix
          %li
            = link_to '#' do
              プライバシーポリシー
          %li
            = link_to '#' do
              メルカリ利用規約
          %li
            = link_to '#' do
              特定商取引に関する表記
      .fotter__logo
        = image_tag 'logo_gray.svg', alt: 'mercari', class: 'footer__logo--gray'
      %p.footer__text
        ©️ 2019 Fmarket


