!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title お支払い方法 - メルカリ スマホでかんたん フリマアプリ
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .register
    .header
      %h1.haeder
        = link_to '/' do
          = image_tag 'fmarket_logo_red.svg', alt: 'mercari', class: 'header__h1__logo'
      %nav
        %ol
          %li
            会員情報
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li
            電話番号認証
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li
            お届け先住所入力
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li(style="color: red; font-weight: bold")
            支払い方法
            %br/
            %i.fas.fa-circle(style="color: red;")
          %li
            完了
            %br/
            %i.fas.fa-circle
      .horizontal-line(style="color: red; right: 90px")
        ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
      .horizontal-line(style="right: 9px")
        ＿＿＿＿


  - content_for(:html_title) {'会員情報入力'}
-# = render partial: 'signup-header1'
.signup-container
  %h2.signup-header 会員情報入力
  .registration-form

    = form_for @card, url: "/signup",method: :post do |f|
      .signup-form-container.registration-form__first-container
        .signup-form-container__title
          = label :number, 'カード番号', class: 'signup-label'
          = f.text_field :number, placeholder: '例）123456789123456'
      .signup-form-container
        .signup-form-container__title
          = label :expiration_month, '有効期限（月）', class: 'signup-label'
          = f.text_field :expiration_month, placeholder: '01'
      .signup-form-container
        .signup-form-container__title
          = label :expiration_year, '有効期限（年）', class: 'signup-label'
          = f.text_field :expiration_year, placeholder: '19'
      .signup-form-container
        .signup-form-container__title
          = label :security_code, 'セキュリティコード', class: 'signup-label'
          = f.text_field :security_code, placeholder: 'カード背面4桁もしくは3桁の番号'
        
      = f.submit '次へ進む'   

    .footer
      %nav
        %ul.clearfix
          %li
            = link_to '#' do
              プライバシーポリシー
          %li
            = link_to '#' do
              メルカリ利用規約
          %li
            = link_to '#' do
              特定商取引に関する表記
      .fotter__logo
        = image_tag 'logo_gray.svg', alt: 'mercari', class: 'footer__logo--gray'
      %p.footer__text
        ©️ 2019 Fmarket

