%ul.user-notification
  %li
    .user-notification__logo
      = image_tag("fmarket_smalllogo.png", width: '40')
    .user-notification__body
      .user-notification__body__text
        《まもなく終了！》休暇中に出品して売上金を2倍にしよう！今すぐチェック♪
      .user-notification__body__time
        = icon("far","clock", class: "notification-icon-clock")
        %h3 2日前
      .user-notification__body__arrow
        = icon("fas","angle-right", class: "notification-icon-arrow")
  %li
    .user-notification__logo
      = image_tag("fmarket_smalllogo.png", width: '40')
    .user-notification__body
      .user-notification__body__text
        《1/9まで》「あけおめ」でメルペイをはじめるとP1,000必ずもらえる！さらに抽選で全額ポイント還元のチャンスも！？
      .user-notification__body__time
        = icon("far","clock", class: "notification-icon-clock")
        %h3 3日前
      .user-notification__body__arrow
        = icon("fas","angle-right", class: "notification-icon-arrow")
  %li
    .user-notification__logo
      = image_tag("fmarket_smalllogo.png", width: '40')
    .user-notification__body
      .user-notification__body__text
        《今すぐ参加！》ボタンを押すだけでお年玉が"必ず"もらえるのは今日まで！
      .user-notification__body__time
        = icon("far","clock", class: "notification-icon-clock")
        %h3 4日前
      .user-notification__body__arrow
        = icon("fas","angle-right", class: "notification-icon-arrow")
  %li
    .user-notification__logo
      = image_tag("fmarket_smalllogo.png", width: '40')
    .user-notification__body
      .user-notification__body__text
        事務局から個別メッセージ「《本日終了》今ならポイント倍増！「あけおめ」を入力してメルペイ登録すると合計P2,000もらえる！」
      .user-notification__body__time
        = icon("far","clock", class: "notification-icon-clock")
        %h3 5日前
      .user-notification__body__arrow
        = icon("fas","angle-right", class: "notification-icon-arrow")
  %li
    .user-notification__logo
      = image_tag("fmarket_smalllogo.png", width: '40')
    .user-notification__body
      .user-notification__body__text
        【1月31日まで】最大3%還元！メルペイスマート払いでメルカリのお買い物をしよう！
      .user-notification__body__time
        = icon("far","clock", class: "notification-icon-clock")
        %h3 6日前
      .user-notification__body__arrow
        = icon("fas","angle-right", class: "notification-icon-arrow")