= render partial: "layouts/header"

.content_info
  .content_info__first
    ="メルカリ"
  .content_info__second
    = " 〉"
  .content_info__third
    ="マイページ"
  .content_info__foreth
    = " 〉"
  .content_info__fifth
    = "ログアウト"    

.container
  .container__side
    = render "shared/side_bar"
  .container__logout
    = link_to current_user_destroy_path, method: :delete do
      .logout-btn
        = "ログアウト"
    -# %input{type: "submit",value: "ログアウト", current_user_destroy_path, method: :delete ,class: "logout-btn"