.single-container
  .single-header
    = link_to image_tag("fmarket_logo_red.svg", class: "fmarket-logo")
    
  .single-main
    .single-main__buy-item-container
      .sell-container
        .sell-container__inner
          %h2 商品の情報を入力
          .sell-form
            = form_for item do |f|
              .sell-form__upload
                .sell-form__upload__title
                  %h3 出品画像
                  %h6 必須
                .sell-form__upload__comment
                  %p 最大10枚までアップロードできます
                .sell-form__upload__thumbnails
                  - if item.item_images.length != 0
                    - item.item_images.each do |image|
                      .sell-form__upload__thumbnails__thumbnail
                        .sell-form__upload__thumbnails__thumbnail__image
                          = image_tag image.image.url
                        .sell-form__upload__thumbnails__thumbnail__btn
                          = link_to "削除", destroy_image_item_path(image), method: :delete, remote: true , class: "sell-form__upload__thumbnails__thumbnail__btn__delete"
                = f.label :item_images, class: "sell-form__upload__label" do
                  .sell-form__upload__label__files
                    %p クリックしてファイルをアップロード
                    = f.file_field :item_images, multiple: true
              .sell-form__content
                .sell-form__content__name
                  %label 商品名
                  %h6 必須
                .sell-form__content__input
                  = f.text_field :name, placeholder: "商品名  (必須 40文字まで)", class: "input-default"
                .sell-form__content__explain
                  %label 商品の説明
                  %h6 必須
                .sell-form__content__textarea
                  = f.text_area :comment, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-default"
              .sell-form__detail
                .sell-form__detail__section
                  %h3 商品の詳細
                .sell-form__detail__selection
                  .sell-form__detail__selection__category
                    %label カテゴリー
                    %h6 必須
                  .sell-form__detail__selection__select
                    .categorys
                      #large-category.categorys-select
                        = f.select :category_id, options_for_select(categorys.map{|c|[c[:name], c[:id]]}), prompt: "---"
                      #middle-category.categorys-select
                        - if middle_categorys != nil
                          = f.select :category_id, options_for_select(middle_categorys.map{|c|[c[:name], c[:id]]}), prompt: "---"
                      #small-category.categorys-select
                        - if small_categorys != nil
                          = f.select :category_id, options_for_select(small_categorys.map{|c|[c[:name], c[:id]]}), prompt: "---"
                  .sell-form__detail__selection__category
                    %label サイズ
                    %h6 必須
                  .sell-form__detail__selection__select
                    = f.select :size, ["S", "M", "L"], prompt: "---"
                  .sell-form__detail__selection__category
                    %label ブランド
                    %h6 任意
                  .sell-form__detail__selection__input
                    = f.text_field :brand, placeholder: "例）シャネル"
                  .sell-form__detail__selection__status
                    %label 商品の状態
                    %h6 必須
                  .sell-form__detail__selection__select
                    = f.select :condition, ["新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"], prompt: "---"
              .sell-form__detail
                .sell-form__detail__section
                  %h3 配送について
                .sell-form__detail__selection
                  .sell-form__detail__selection__category
                    %label 配送料の負担
                    %h6 必須
                  .sell-form__detail__selection__select
                    = f.select :charge, ["送料込み(出品者負担)", "着払い(購入者負担)"], prompt: "---"
                  .sell-form__detail__selection__category
                    %label 配送の方法
                    %h6 必須
                  .sell-form__detail__selection__select
                    = f.select :delivery, ["未定", "らくらくメルカリ便", "ゆうメール"], prompt: "---"
                  .sell-form__detail__selection__status
                    %label 発送元の地域
                    %h6 必須
                  .sell-form__detail__selection__select
                    = f.select :location, options_for_select(prefectures.map{|c|[c[:name], c[:name]]}), prompt: "---"
                  .sell-form__detail__selection__status
                    %label 発送までの日数
                    %h6 必須
                  .sell-form__detail__selection__select
                    = f.select :arrival_date, ["1~2日で発送", "2~3日で発送", "4~7日で発送"], prompt: "---"
              .sell-form__price
                .sell-form__price__price
                  %h3 販売価格(300〜9,999,999)
                .sell-form__price__group
                  .sell-form__price__group__one
                    .sell-form__price__group__one__left
                      %label 価格
                      %h6 必須
                    .sell-form__price__group__one__right
                      ¥
                      #price-input
                        = f.text_field :price, placeholder: "例）300"
                  .sell-form__price__group__two
                    .price-title
                      %p 販売手数料(10%)
                    .price-amount
                      %p#tax -
                  .sell-form__price__group__three
                    .price-title
                      %p 販売利益
                    .price-amount
                      %p#profit -
              .sell-form__btn-box
                %p 禁止されている出品、行為を必ずご確認下さい。
                %p またブランド品でシリアルナンバー等がある場合はご記載下さい。偽ブランドの販売は犯罪であり処罰される可能性があります。
                %p また、出品をもちまして加盟店規約に同意したことになります。
                = f.submit "登録する", class: "submit-btn"
                = link_to "もどる", :back, class: "return-btn"