%header
  %h1.PIheader
    = image_tag("fmarket_logo_red.svg", width: '160')
%main.PImain
  %section.PImain__l-single-container
    %h2.PImain__l-single-container__l-single-head.PImain__l-single-container__buy-head
      購入内容の確認
    %section.PImain__l-single-container__buy-content.PImain__l-single-container__buy-item
      .PImain__l-single-container__buy-content-inner
        .PImain__l-single-container__buy-item-box
          %h3.PImain__l-single-container__buy-item-image
            = image_tag @item.item_images[0].image.url, height: "100", width: "100"
          .PImain__l-single-container__buy-item-detail
            %p.PImain__l-single-container__buy-item-name
              #{@item.name}
            %p.PImain__l-single-container__buy-price-ja
              %span
                ¥#{@item.price}
              %span
                （税込）
                - if @item.charge == "送料込み(出品者負担)"
                  送料込み
                - else
                  送料別
    %section.PImain__l-single-container__buy-content.PImain__l-single-container__buy-item
      .PImain__l-single-container__buy-content-inner
        %form.action
          %ul.PImain__l-single-container__buy-price-table
            %lu.PImain__l-single-container__buy-you-pay
              .PImain__l-single-container__buy-price-cell-label
                支払い金額
              .PImain__l-single-container__buy-price-cell
                %span.PImain__l-single-container__buy-you-pay
                  ¥#{@item.price}
          %ul.PImain__l-single-container__buy-accordion
            %lu.PImain__l-single-container__buy-use-point
              ポイントを使用 (所持ポイント: P0)
          %section.PImain__l-single-container__buy-user-info
            .PImain__l-single-container__buy-content-inner
              %h3 支払い方法
              %p クレジットカード
              %p #{current_user.card.number}
              %p 有効期限 #{current_user.card.expiration_month}/#{current_user.card.expiration_year}
          %section.PImain__l-single-container__buy-user-info
            .PImain__l-single-container__buy-content-inner
              %h3 配送先
              %p 〒#{current_user.address.postal_code}
              %p #{@prefecture.name}#{current_user.address.city}#{current_user.address.house_number}#{current_user.address.building}
              %p #{current_user.family_name} #{current_user.first_name}
          %section.PImain__l-single-container__buy-user-info
            .PImain__l-single-container__buy-content-inner
              %p.PImain__l-single-container__buy-form.PImain__l-single-container__has-error-text
              = link_to "購入する", pay_item_path(@item), method: :pots, class: "PImain__l-single-container__btn-default"
              %p.PImain__l-single-container__buy-form.PImain__l-single-container__not-have-app-text
                アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
              .PImain__l-single-container__buy-store-logos
                = link_to image_tag("apple-pay.svg", width: '80'), class:'PImain__l-single-container__rightspacer24'
                = link_to image_tag("google-pay.svg", width: '80')
%footer.PIfooter
  %nav
    %ul.clearfix
      %lu
        プライバシーポリシー
      %lu.spacer
        メルカリ利用規約
      %lu.spacer
        特定商取引に関する表記
  .PIfooter-logo 
    = link_to image_tag("logo_gray.svg", width: '80')
  %p
    %small
      © Mercari, Inc.
