= form_for @item do |f|
  .form
    = f.label :item_images, "商品名"
    = f.file_field :item_images, multiple: true
  .form
    = f.label :name, "商品名"
    = f.text_field :name
  .form
    = f.label :comment, "説明文"
    = f.text_field :comment
  .form.category
    .category__large
      = f.label :category_id, "カテゴリー"
      = f.select :category_id, options_for_select(@categorys.map{|c|[c[:name], c[:id]]}), prompt: "---"
    .category__middle
    .category__small
  .form
    = f.label :size, "サイズ"
    = f.text_field :size
  .form
    = f.label :brand, "ブランド"
    = f.text_field :brand
  .form
    = f.label :condition, "状態"
    = f.text_field :condition
  .form
    = f.label :charge, "配送料負担"
    = f.text_field :charge
  .form
    = f.label :delivery, "配送形式"
    = f.text_field :delivery
  .form
    = f.label :location, "地域"
    = f.text_field :location
  .form
    = f.label :arrival_date, "日数"
    = f.text_field :arrival_date
  .form
    = f.label :price, "価格"
    = f.number_field :price
  .form
    = f.submit "登録する"