= form_for @item do |f|
  .form
    = f.label :name, "商品名"
    = f.text_field :name
  .form
    = f.label :comment, "説明文"
    = f.text_field :comment
  .form
    = f.label :size, "サイズ"
    = f.number_field :size
  .form
    = f.label :brand, "ブランド"
    = f.text_field :brand
  .form
    = f.label :condition, "状態"
    = f.number_field :condition
  .form
    = f.label :charge, "配送料負担"
    = f.number_field :charge
  .form
    = f.label :delivery, "配送形式"
    = f.number_field :delivery
  .form
    = f.label :location, "地域"
    = f.text_field :location
  .form
    = f.label :arrival_date, "日数"
    = f.number_field :arrival_date
  .form
    = f.label :price, "価格"
    = f.number_field :price
  .form
    = f.submit "登録する"