.item-show-wrapper
  .item-show-container
    .item-show-container__item
      .item-show-container__item__head
        %p #{@item.name}
      .item-show-container__item__info
        .item-show-container__item__info__images
          .item-show-container__item__info__images__large
            = image_tag @item.item_images[0].image.url
          .item-show-container__item__info__images__thumbnails
            - @item.item_images.each do |item_image|
              .item-show-container__item__info__images__thumbnails__thumbnail
                = image_tag item_image.image.url
        %table.item-show-container__item__info__table
          %tr
            %th 出品者
            %td
              .item-show-container__item__info__table__seller-name
                = link_to @item.seller.nickname, "#"
              .item-show-container__item__info__table__seller-evaluation
          %tr
            %th カテゴリー
            %td
              = link_to @item.category.parent.parent.name, "#"
              = link_to "> #{@item.category.parent.name}", "#"
              = link_to "> #{@item.category.name}", "#"
          %tr
            %th ブランド
            %td
              = link_to @item.brand, "#"
          %tr
            %th 商品のサイズ
            %td #{@item.size}
          %tr
            %th 商品の状態
            %td #{@item.condition}
          %tr
            %th 配送料の負担
            %td #{@item.charge}
          %tr
            %th 配送の方法
            %td #{@item.delivery}
          %tr
            %th 配送元地域
            %td
              = link_to @item.location, "#"
          %tr
            %th 発送日の目安
            %td #{@item.arrival_date}
      .item-show-container__item__price
        %span.item-show-container__item__price__price> ¥#{@item.price}
        %span.item-show-container__item__price__tax> （税込）
        %span.item-show-container__item__price__charge> 送料込み
      - if user_signed_in? && current_user.id != @item.seller.id 
        .item-show-container__item__buy.block-btn.block-btn-red
        = link_to "購入画面に進む", buysample_index_path
      .item-show-container__item__comment
        = simple_format(@item.comment)
      - if user_signed_in? && current_user.id != @item.seller.id
        .item-show-container__item__button
          .item-show-container__item__button__left
            .item-show-container__item__button__left__icon-btn
              %i.far.fa-heart
              %span.item-show-container__item__button__left__icon-btn__span> いいね!
              %span.item-show-container__item__button__left__icon-btn__span> 5
              = link_to "", "#", class: "item-show-container__item__button__left__icon-btn__link"
            .item-show-container__item__button__left__icon-btn
              %i.far.fa-flag
              %span.item-show-container__item__button__left__icon-btn__span> 不適切な商品の報告
              = link_to "", "#", class: "item-show-container__item__button__left__icon-btn__link"
          .item-show-container__item__button__right
            .item-show-container__item__button__right__icon-btn
              %i.fas.fa-unlock-alt
              %span.item-show-container__item__button__right__icon-btn__span> あんしん・あんぜんへの取り組み
              = link_to "", "#", class: "item-show-container__item__button__right__icon-btn__link"
  - if user_signed_in? && current_user.id == @item.seller.id
    .item-show-container
      .item-show-container__myitem
        .item-show-container__myitem__edit.block-btn.block-btn-red
          =link_to "商品の編集", edit_item_path(@item)
        - if @item.status == "出品中"
          .item-show-container__myitem__stop.block-btn.block-btn-gray
            =link_to "出品を一旦停止する", update_status_item_path(@item), method: :post
        - if @item.status == "公開停止中"
          .item-show-container__myitem__start.block-btn.block-btn-red
            =link_to "出品を再開する", update_status_item_path(@item), method: :post
        .item-show-container__myitem__or
          or
        .item-show-container__myitem__delete.block-btn.block-btn-gray
          =link_to "この商品を削除する", item_path(@item), method: :delete
  .item-show-container
    .item-show-container__comment
      .item-show-container__comment__comments
      .item-show-container__comment__notice
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea{rows: 3, class: "item-show-container__comment__text"}
    - if user_signed_in?  
      .item-show-container__comment__submit.block-btn.block-btn-gray
        = link_to "コメントする", "#"
  .item-show-link
    .item-show-link__left
      = link_to "< 前の商品", "#"
    .item-show-link__right
      = link_to "次の商品 >", "#"
  .item-show-container
    .item-show-container__media
      .item-show-container__media__icons
        = link_to "#" do
          %i.fab.fa-facebook-square.fa-3x.icon-facebook.item-show-container__media__icons__icon
        = link_to "#" do
          %i.fab.fa-twitter-square.fa-3x.icon-twitter.item-show-container__media__icons__icon
        = link_to "#" do
          %i.fab.fa-line.fa-3x.icon-line.item-show-container__media__icons__icon
  .item-show-items-container
    .item-show-items-container__head
      = link_to "#{@item.seller.nickname}さんのその他の出品", "#"
    .item-show-items-container__items
      - if @seller_items.length != 0
        - @seller_items.each do |seller_item|
          .item-show-items-container__items__item
            = link_to "", item_path(seller_item)
            .item-show-items-container__items__item__image
              = image_tag seller_item.item_images[0].image.url
            .item-show-items-container__items__item__info
              .item-show-items-container__items__item__info__name
                #{seller_item.name}
              .item-show-items-container__items__item__info__price
                ¥#{seller_item.price}
  .item-show-items-container
    .item-show-items-container__head
      = link_to "#{@item.category.name} その他の商品", "#"
    .item-show-items-container__items
      - if @category_items.length != 0
        - @category_items.each do |category_item|
          .item-show-items-container__items__item
            = link_to "", item_path(category_item)
            .item-show-items-container__items__item__image
              = image_tag category_item.item_images[0].image.url
            .item-show-items-container__items__item__info
              .item-show-items-container__items__item__info__name
                #{category_item.name}
              .item-show-items-container__items__item__info__price
                ¥#{category_item.price}